In [1]:
import numpy as np
import pandas as pd
import json
import sqlalchemy as db
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from flask import Flask, jsonify, render_template
from sqlalchemy import MetaData

In [13]:
# Path to sqlite
database_path = "epi_db.sqlite"

# # Create an engine that can talk to the database
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [14]:
m = MetaData()
m.reflect(engine)

In [15]:
epifactor = db.Table('epifactor', m, autoload=True, autoload_with=engine)
epifactor

Table('epifactor', MetaData(bind=None), Column('field1', TEXT(), table=<epifactor>), Column('field2', TEXT(), table=<epifactor>), Column('field3', TEXT(), table=<epifactor>), Column('field4', TEXT(), table=<epifactor>), Column('field5', TEXT(), table=<epifactor>), schema=None)

In [16]:
query = db.select([epifactor])
ResultProxy = conn.execute(query)
ResultSet = ResultProxy.fetchall()
ResultSet = pd.DataFrame(ResultSet)
# ResultSet = ResultSet
ResultSet.drop([0], inplace=True)
ResultSet.drop(0, axis=1, inplace=True)
ResultSet.reset_index(inplace=True)
ResultSet

,index,1,2,3,4
0,1,17.01772966188123,10.674006444683135,10.674006444683135,22.839363017934446
1,2,21.255402076012764,21.67548500881834,21.67548500881834,35.71428571428571
2,3,24.998344918901026,17.597791072250345,17.597791072250345,28.364779874213834
3,4,23.532351767116104,15.880520337746356,15.880520337746356,30.36056273874471
4,5,25.082000759308936,15.84669435081904,15.84669435081904,19.6335222393955

In [17]:
ResultSet.rename(columns={1:'Calories', 2:'Fat', 3:'Protein', 4:'Ingredients'}, inplace=True)
ResultSet.dtypes

index           int64
Calories       object
Fat            object
Protein        object
Ingredients    object
dtype: object

In [7]:
radar_dict_test = [{'name': 'Calories', 'value': ResultSet['Calories'][0]},
                   {'name': 'Fat', 'value': ResultSet['Fat'][0]},
                   {'name': 'Protein', 'value': ResultSet['Protein'][0]},
                   {'name': 'Ingredients', 'value': ResultSet['Ingredients'][0]},
                   {'name': 'Nothing', 'value': 0.2}] 
radar_dict_test

[{'name': 'Calories', 'value': '17.01772966188123'},
 {'name': 'Fat', 'value': '10.674006444683135'},
 {'name': 'Protein', 'value': '10.674006444683135'},
 {'name': 'Ingredients', 'value': '22.839363017934446'},
 {'name': 'Nothing', 'value': 0.2}]